<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools  -->
<link type="text/css" rel="stylesheet" href="/css/main.css">

<head>
    <title>Česká Herní Databáze</title>
</head>

<body>
    {{> header userLoggedIn}}

    <div class="w3-main">
        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
                {{!-- zde se zobrazí samotná hra --}}
                <h1 class="w3-text-blue " style="margin-left:5%">{{game.title}} </h1>
                <b class="w3-text-black" style="margin-left:5%">Žánr: {{game.genre}}</b>
                <br>
                <b class="w3-text-black" style="margin-left:5%">Platforma: {{game.platform}}</b>
                <br>
                <b class="w3-text-black" style="margin-left:5%">Vývojář: {{game.developer}}</b>
                <br>
                <b class="w3-text-black" style="margin-left:5%">Vydavatel: {{game.publisher}}</b>
                <p style="margin-left:5%">{{game.description}}</p>

            </div>

            <div class="w3-third w3-container ">
                <p class="w3-border w3-padding-large w3-padding-32 w3-center redbackground score-text"
                    style="margin-top:17%"> {{game.score}}</p>
            </div>
        </div>


        <div class="w3-row" style="margin-left:50px">
            <div class="w3-twothird w3-container">
                <h1 class="w3-text-blue" style="margin-left:40%">Všechny recenze</h1>
            </div>
        </div>

        <!-- seznam recenzí uživatele  -->
        {{# each reviews }}
        <div class="w3-row w3-padding-16" style="margin-left:50px">
            <div class="w3-twothird w3-container" style="margin-top:-20px">
                <!-- zbytek se musí propojit z kolekce recenzí podle uživatelského ID  -->
                <h2 class="w3-text-cyan">{{this.title}} - Skóre: {{this.score}}</h2>
                <p>{{this.text}}</p>

                <div class="">
                    <b class="display-one-line w3-left" style="margin-top:-17px">Vytvořil uživatel:
                        {{this.username}}</b>
                    <b class="display-one-line w3-right" style="margin-top:-17px">Datum vytvoření: {{this.date}}</b>
                </div>
            </div>

            <div class="w3-left" style="margin-left:-10%">
                {{#if ../userLoggedIn.isUserLogged}}
                {{#if this.isCurrentUserAuthor}}
                <button class="w3-button w3-text-blue w3-theme-l3">
                    <a href="/forms/formChangeReview/{{this._id}}">
                        Uprav recenzi</a></button>
                {{/if}}
                {{/if}}
            </div>

        </div>
        {{/each}}

        <div class="w3-row w3-padding-16" style="margin-left:37%">
            <div class="w3-twothird w3-container">
                {{#if userLoggedIn.isUserLogged}}
                <button class="w3-button w3-text-blue w3-theme-l3" style="margin-left:-20%">
                    <a href="/forms/formCreateReview/{{game._id}}">Vytvoř
                        novou recenzi </a></button> {{/if}}
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>